<ion-header>
  <ion-toolbar>
      <ion-title text-center>
          Sign up
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
      <ion-item>
        <ion-label class="label2" position="stacked">Email</ion-label>
        <ion-input placeholder="Enter your email" [(ngModel)]="formData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label1" position="stacked">Password</ion-label>
        <ion-input type="password" placeholder="Enter your password" [(ngModel)]="formData.password"></ion-input>
      </ion-item>
  </ion-card>  
  <br><br>
  <ion-button expand="block" size="large" (click)="signup()">Sign up</ion-button>
  <br>
  <a class="LinkCenter" (click)="goToLogin()"><p>Or back to login</p></a>
</ion-content>
